@model DoAn2024_NguyenTuanAnh_202060621_Demo.Models.AutoAdd.tb_Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/lien-he"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <div class="col-lg-6 contact_col">
                <div class="contact_contents">
                    <h3>Thông tin liên hệ</h3>
                    <h5>HÀ NỘI, VIỆT NAM.</h5>
                    <div>
                        <p>Cửa hàng TixCo Hà Nội</p>
                        <p>134  Cầu Diễn, Nguyên Xá, Bắc Từ Liêm, Hà Nội</p>
                        <p>Thứ Hai - Chủ Nhật</p>
                        <p>9.00 AM - 10.00 PM</p>
                        <a href="tel:+84352140839">+84 352 140 839</a>
                        <a href="mailto:nguyenanh01bg@gmail.com">nguyenanh01bg@gmail.com</a>
                    </div>
                    <div></div>
                    <h5>HỒ CHÍ MINH, VIỆT NAM</h5>
                    <div>
                        <p>Cửa hàng TixCo Sài Gòn</p>
                        <p>152 Nam Kỳ Khởi Nghĩa, Phường Bến Nghé, Quận 1, Hồ Chí Minh</p>
                        <p>Thứ Hai - Chủ Nhật</p>
                        <p>9.00 AM - 10.00 PM</p>
                        <a href="tel:+84352140839">+84 352 140 839</a>
                        <a href="mailto:nguyenanh100bg@gmail.com">nguyenanh100bg@gmail.com</a>
                    </div>
                </div>


            </div>

            <div class="col-lg-6 get_in_touch_col">
                <div class="get_in_touch_contents">
                    <h4>Hãy liên hệ với chúng tôi</h4>
                    @*<p>Fill out the form below to recieve a free and confidential.</p>*@
                    @using (Ajax.BeginForm("PostContact", "Contact", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "load_review",
                        OnSuccess = "OnSuccessRE",
                        OnFailure = "OnFailureRE",
                        OnBegin = "OnBeginRE"

                    }, new { @Id = "review_form" }))
                    {
                        <script>
                            function OnBeginRE() {
                                $('#review_submit').attr("disabled", "disabled");
                                $('#load_send').html('<h2>Đang gửi....</h2>');
                            }
                            function OnSuccessRE(res) {
                                debugger;
                                if (res.Success) {
                                    alert("Phản hồi đã được gửi.");
                                    $("#review_form")[0].reset();
                                    window.location.reload();

                                }
                            }</script>
                        @Html.AntiForgeryToken()

                        <div>

                            @Html.TextBoxFor(x => x.Name, new { @class = "form_input input_name", @placeholder = "Tên của bạn", @id = "review_name" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "Email hoặc số điện thoại", @id = "review_email" })
                            @Html.HiddenFor(x => x.UserName)


                            @*<input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden;" />*@
                            @*<input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">*@
                            @*<input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">*@
                        </div>
                        <div>



                            @Html.TextAreaFor(x => x.Message, new { @class = "input_review", @rows = "4", @placeholder = "Phản hồi của bạn." })
                            @*<textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>*@
                        </div>

                        <div>
                            <div><br /></div>
                            <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Gửi</button>
                        </div>
                    }

                </div>
            </div>

            <div class="follow_us_contents">
                <h1>Theo dõi chúng tôi</h1>
                <ul class="social d-flex flex-row">
                    <li><a href="https://www.facebook.com/astanh259/" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    @*<li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>*@
                    <li><a href="https://www.instagram.com/kimtanhyung_259/" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div id="google_map">
                <div class="map_container">

                    <div id="map">
                        <p>Cs1: 134  Cầu Diễn, Nguyên Xá, Bắc Từ Liêm, Hà Nội</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.588825217815!2d105.73964607497646!3d21.049131987079136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f123b9d10f%3A0x6e67e926d3a82b81!2zMTM0IMSQLiBD4bqndSBEaeG7hW4sIE5ndXnDqm4gWMOhLCBC4bqvYyBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1715420145502!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
                <div><br /></div>
                <div class="map_container">
                    <div id="map">
                        <p>Cs2: 152 Nam Kỳ Khởi Nghĩa, Phường Bến Nghé, Quận 1, Hồ Chí Minh</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4180634179947!2d106.69304067479256!3d10.779257859142003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f37685e2cf3%3A0xddd7c0dd78febfd5!2zMTUyIMSQLiBOYW0gS-G7syBLaOG7n2kgTmdoxKlhLCBC4bq_biBOZ2jDqSwgUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1715420233631!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

    <div class="row">




    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

