@model PagedList.IPagedList<DoAn2024_NguyenTuanAnh_202060621_Demo.Models.AutoAdd.tb_Order>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<!--<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý đơn hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Đơn hàng</li>
                </ol>
            </div>
        </div>
    </div>--><!-- /.container-fluid -->
<!--</section>-->
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn hàng</h3>
            
            </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5">
                    @using (Html.BeginForm("Index", "Order", FormMethod.Get, new { }))
                    {
                        <div class="input-group input-group-sm">
                            @Html.TextBox("Searchtext", null, new { @class = "form-control" })
                            @*<input type="text" name="searchtext" class="form-control">*@
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-light btn-flat">Tìm kiếm</button>
                            </span>
                        </div>
                    }
                </div>
                </div>
            <br/>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã đơn hàng</th>
                                <th>Tên Khách hàng</th>
                                <th>Phone</th>
                                <th>Tiền</th>
                                <th>Phương thức thanh toán</th>
                                <th>Trạng thái</th>
                                <th>Ngày đặt</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Code</td>
                                        <td>@item.CustomerName</td>
                                        <td>@item.Phone</td>
                                        <td>@DoAn2024_NguyenTuanAnh_202060621_Demo.Common.Common.FormatNumber(item.TotalAmount, 0) ₫</td>
                                        <td>@(item.TypePayment==1?"COD":"Chuyển khoản")</td>
                                        <td>
                                            @{
                                                int status = Convert.ToInt32(item.Status);
                                            }
                                            @if (status == 1)
                                            {
                                                <p>Đang chờ xác nhận</p>
                                            }
                                            else if (status == 2)
                                            {
                                                <p style="color: green;">Đã xác nhận</p>
                                            }
                                            else if (status == 3)
                                            {
                                                <p style="color: orange;">Đã chuyển đơn hàng</p>
                                            }
                                            else if (status == 4)
                                            {
                                                <p style="color: blue;">Hoàn thành</p>
                                            }
                                            else if (status == 5)
                                            {
                                                <p style="color: red;">Hủy đơn</p>
                                            }
                                        </td>
                                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a href="/admin/order/view/@item.Id" class="btn btn-sm btn-primary">Xem</a>
                                            <a href="/admin/order/edit/@item.Id" class="btn btn-sm btn-danger btnCapNhat" data-id="@item.Id">Cập nhật</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-3" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="2">
                            Đã thanh toán
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modifiedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypePayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifiedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypePayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
